NODE_ENV=development
PORT=3001

EMAIL_HOST=mail.tudominio.cl
EMAIL_PORT=587
EMAIL_USER=tu@email.com
EMAIL_PASS=tu_password

AMAZON_LINK=https://amazon.com/

API_TOKEN=generate-a-secure-random-token

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=3

CORS_ORIGINS=http://localhost:5173,https://book.tudominio.cl
